/sys
/chinx/.Xil
/chinx/chinx.cache
/chinx/chinx.hw
/chinx/chinx.ip_user_files
/chinx/chinx.runs
/chinx/chinx.sim
/chinx/chinx.srcs/sources_1/ip
*.xpr
*.log
*.str
*.jou
*.xml
*.pb
*.wpc
*.rpt
/chinx/*.txt